/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}


/* Animation-Container Section */
#animation-container {
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

#animation-container span {
    display: inline-block;
    height: 100px;
    width: 100px;
    background: url(../Assets/bg.jpg);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: heart 8s linear;
}

@keyframes heart {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0deg);
    }

    100% {
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}


/* Footer Section */
#footer {
    color: white;
    background-color: rgb(34, 33, 33);
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.copy,
.info {
    padding: 15px;
}


/* CSS Properties For Maximum Width 400px */
@media (max-width: 400px) {

    /* Footer Section ( For Maximum Width 400px ) */
    #footer {
        font-size: 17px;
    }
}