/* Password Section ( For Maximum Width 600px ) */
#password-container {
    width: 350px;
}

#password-container h2 {
    font-size: 22px;
}

#password-input {
    font-size: 18px;
    width: 140px;
}


/* Footer Section ( For Maximum Width 600px ) */
#footer {
    font-size: 19px;
}


/* CSS Properties For Maximum Width 400px */
@media (max-width: 400px) {

    /* Password Section ( For Maximum Width 400px ) */
    #password-container {
        width: 250px;
    }

    #password-container h2 {
        text-align: center;
    }


    /* Footer Section ( For Maximum Width 400px ) */
    #footer {
        font-size: 16px;
    }
}