/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}


/* Main-Container Section */
#main-container {
    min-height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.age-calculator-container {
    width: 600px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    font-size: 36px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 25px 0px;
    font-weight: bold;
}

input {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    margin: 20px 0px;
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0062cc;
}

#result {
    font-size: 24px;
    font-weight: bold;
}


/* Footer Section */
#footer {
    color: white;
    background-color: rgb(34, 33, 33);
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.copy,
.info {
    padding: 15px;
}


/* CSS Properties For Maximum Width 400px */
@media (max-width: 400px) {

    /* Main-Container Section ( For Maximum Width 400px ) */
    h1 {
        font-size: 34px;
    }


    /* Footer Section ( For Maximum Width 400px ) */
    #footer {
        font-size: 17px;
    }
}