/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}


/* Main-Container Section */
#main-container {
    height: 100vh;
    background: linear-gradient(to right, yellow, lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.anime-container {
    width: 450px;
    margin: 5px;
    padding: 10px;
    background: aliceblue;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.anime-container h3 {
    margin: 20px 0px 10px 0px;
}

.anime-container .btn {
    margin-bottom: 30px;
    color: aliceblue;
    background-color: green;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.anime-container .btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.anime-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid green;
}

.anime-name {
    margin: 20px;
    background-color: green;
    color: aliceblue;
    padding: 10px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
}

.anime-pic-container {
    display: none;
}


/* Footer Section */
#footer {
    color: white;
    background-color: rgb(34, 33, 33);
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.copy,
.info {
    padding: 15px;
}


/* CSS Properties For Maximum Width 400px */
@media (max-width: 400px) {

    /* Main-Container Section ( For Maximum Width 400px ) */
    .anime-img {
        height: 250px;
        width: 250px;
    }


    /* Footer Section ( For Maximum Width 400px ) */
    #footer {
        font-size: 17px;
    }
}