/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}


/* Main-Container Section */
#main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: darkblue;
    font-family: cursive;
    text-align: center;
}

.mouse-event-box {
    min-height: 100px;
    min-width: 180px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;
    border: 2px solid lightgray;
}

.mouse-event-box h4 {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: lightgray;
    font-size: 14px;
    font-weight: 100;
}


/* Footer Section */
#footer {
    color: white;
    background-color: rgb(34, 33, 33);
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.copy,
.info {
    padding: 15px;
}


/* CSS Properties For Maximum Width 500px */
@media (max-width: 500px) {

    /* Main-Container Section ( For Maximum Width 500px ) */
    #main-container {
        flex-direction: column;
    }


    /* Footer Section ( For Maximum Width 500px ) */
    #footer {
        font-size: 17px;
    }
}