/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}


/* Main-Container Section */
#main-container {
    min-height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

#main-container form {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

#main-container #score {
    margin: 20px 0px;
    color: green;
    text-align: right;
}

#main-container #question {
    margin: 22px;
}

#main-container #answer {
    width: 100%;
    padding: 10px;
    color: green;
    border: 4px solid green;
    display: block;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}

#main-container #answer::placeholder {
    color: lightgray;
    font-family: cursive;
}

#main-container .btn {
    width: 100%;
    margin: 20px 0px;
    padding: 10px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    display: block;
    font-size: 25px;
    font-family: cursive;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#main-container .btn:hover {
    filter: brightness(0.8);
}


/* Footer Section */
#footer {
    color: white;
    background-color: rgb(34, 33, 33);
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.copy,
.info {
    padding: 15px;
}


/* CSS Properties For Maximum Width 500px */
@media (max-width: 500px) {

    /* Main-Container Section ( For Maximum Width 500px ) */
    #main-container #question {
        font-size: 25px;
        text-align: center;
    }

    #main-container #answer {
        font-size: 22px;
    }


    /* Footer Section ( For Maximum Width 500px ) */
    #footer {
        font-size: 17px;
    }
}