/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}


/* Main-Container Section */
#main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left bottom, lightblue, lightpink, lightblue);
    font-family: monospace;
}

.dad-jokes-container {
    width: 85%;
    padding: 40px 20px;
    color: darkgreen;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    text-align: center;
}

.heading {
    font-size: 35px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4);
    letter-spacing: 2px;
}

.joke {
    margin: 40px;
    font-size: 25px;
    font-weight: 500;
}

.btn {
    width: 300px;
    padding: 10px;
    color: darkgreen;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    transition: all 300ms ease;
}


/* Footer Section */
#footer {
    color: white;
    background-color: rgb(34, 33, 33);
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.copy,
.info {
    padding: 15px;
}


/* CSS Properties For Maximum Width 400px */
@media (max-width: 400px) {

    /* Footer Section ( For Maximum Width 400px ) */
    #footer {
        font-size: 17px;
    }
}