/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}


/* Main-Container Section */
#main-container {
    height: 100vh;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-slider-container {
    position: relative;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.image-container {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    opacity: 0.5;
    cursor: pointer;
}

.btn.prev {
    left: 10px;
}

.btn.next {
    right: 10px;
}

.btn:hover {
    opacity: 1;
}


/* Footer Section */
#footer {
    color: white;
    background-color: rgb(34, 33, 33);
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.copy,
.info {
    padding: 15px;
}


/* CSS Properties For Maximum Width 400px */
@media (max-width: 400px) {

    /* Main-Container Section ( For Maximum Width 400px ) */
    #image-slider-container {
        height: 150px;
        width: 250px;
    }

    .image-container img {
        width: 250px;
    }


    /* Footer Section ( For Maximum Width 400px ) */
    #footer {
        font-size: 17px;
    }
}